<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IOT Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo">
            <span> IOT </span>
          <a class="navbar-brand brand-logo-mini" href="../../index.html">
            <img src="images/logo-mini.svg" alt="logo" /> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Umidades Válidas</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                      <div id="line-traffic-legend"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h2 id="totalUmidade" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Total</p>
                      </div>
                      <div class="col-md-3">
                        <h2 id="mediaUmidade" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Umidade média</p>
                      </div>
                    </div>
                    <canvas id="lineChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Umidades Não Válidas</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                      <div id="line-traffic-legend"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h2 id="totalUmidade1" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Total</p>
                      </div>
                      <div class="col-md-3">
                        <h2 id="mediaUmidade1" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Umidade média</p>
                      </div>
                    </div>
                    <canvas id="lineChart1" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Temperaturas Válidas</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                      
                      <div id="area-traffic-legend"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h2 id="totalTemp" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Total</p>
                      </div>
                      <div class="col-md-4">
                        <h2 id="mediaTemp" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Temperatura média</p>
                      </div>
                    </div>
                    <canvas id="areaChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">Temperaturas Não Válidas</h4>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-4">
                      
                      <div id="area-traffic-legend"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h2 id="totalTemp1" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Total</p>
                      </div>
                      <div class="col-md-4">
                        <h2 id="mediaTemp1" class="mb-0 font-weight-medium">0</h2>
                        <p class="mb-5 text-muted">Temperatura média</p>
                      </div>
                    </div>
                    <canvas id="areaChart1" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/shared/off-canvas.js"></script>
    <script src="js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/shared/chart.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>